.artthumbflex
{
        width:200px;
        display:inline-flex;
        margin:4px;
        flex-direction:column;
        border-radius:4px;
        overflow:hidden;
        border:1px solid rgba(200, 200, 200, 0.2);
}
.artthumb
{
        max-width:100%;
        cursor:pointer;
        display:block;
}
.artthumbtitle
{
        border-top:1px solid rgba(200, 200, 200, 0.2);
        background-color:rgba(100, 100, 100, 0.2);
        font-size:90%;
        padding:4px;
}
.arthead
{
        padding-top:4px;
        padding-bottom:4px;
        font-family: "komika";
        font-size:110%;
        cursor:pointer;
}
.artthumbbox
{
        display:none;
        padding:8px;
}
.videocaption
{
         margin: 0 auto; max-width:500px;
         font-size:80%;
         margin-top:8px;
         margin-bottom:8px;
}
.nearest {
        image-rendering: pixelated; /* For modern browsers */
        image-rendering: crisp-edges; /* Fallback for older browsers */
        image-rendering: -moz-crisp-edges; /* For older versions of Firefox */
        image-rendering: -webkit-optimize-contrast; /* For older versions of WebKit-based browsers */
        image-rendering: -o-crisp-edges; /* For older versions of Opera */
      }
@media (max-width: 460px) {
        
        .artthumbflex
        {
                width:150px;
        }
}

@media (max-width: 460px) {
        
        .artthumbflex
        {
                width:150px;
        }
}
@media (max-width: 350px) {
        
        .artthumbflex
        {
                width:100px;
        }
}

@media (max-width: 250px) {
        
        .artthumbflex
        {
                width:75px;
        }
}