.shopthumbflex
{
        width:200px;
        display:inline-flex;
        margin:4px;
        flex-direction:column;
        overflow:hidden;
        border:1px solid rgba(255, 255, 255, 0.25);
}
.shopthumb
{
        max-width:100%;
        cursor:pointer;
        display:block;     
}
.shopthumbtitle
{
        border-top:1px solid rgba(255, 255, 255, 0.25);
        background-color:rgba(100, 100, 100, 0.2);
        font-size:90%;
        padding:4px;
}
.shopstatus
{
        padding-top:2px;
        margin-top:2px;
        border-top:1px solid rgba(255, 255, 255, 0.25);
        font-size:90%;
}
.shopitemcontainer
{
        display:flex;
}
.returnshopbox
{
        font-size:125%;
        margin-bottom:12px;       
}
.shopitemimagebox
{
        display:flex;
        flex-direction:column;
        width:calc(50% - 48px);
        padding:24px;
}
.shopitemdata
{
        width:calc(50% - 48px);
        padding:24px;
}
.shopitemimage
{
        max-width:100%;
        border-radius:4px;
}
.shopitemtitle
{
        padding:6px;
        background-color:rgba(150,150,150,0.1);
        border:1px solid rgba(200,200,200,0.2);
        border-bottom:none;
        font-family:"komika";
        font-size:110%;
        border-top-right-radius:4px;
        border-top-left-radius:4px;
        color:#FC0;
        position:relative;
}
.shopitemdescription
{
        background-color:rgba(50,50,50,0.1);
        border:1px solid rgba(200,200,200,0.2);
        border-top:1px solid rgba(150,150,150,0.2);
        border-bottom:none;
        color:#888;
        padding:12px;
        position:relative;
}
.shoptableBox
{
        background-color:rgba(0,0,0,0.2);
        border:1px solid rgba(200,200,200,0.2);
        border-top:1px solid rgba(100,100,100,0.25);
        color:#777;
        padding:8px;
        position:relative;
}
.purchaseTableBox
{
        background-color:rgba(100,100,100,0.1);
        border:1px solid rgba(200,200,200,0.2);
        border-bottom:none;
        position:relative;
}
.shippingtd
{
        font-size:80%;
}
.purchaseButton
{
        font-size:80%;
        border:1px solid rgb(145, 255, 0);
        background-color:rgba(255, 255, 255, 0.2);
        padding:4px;
        border-radius:2px;
        color:rgb(30, 255, 0);
        cursor:pointer;
        text-align:center;
}
.purchaseButton:hover{
        
        border:1px solid #FFF;
        color: #FFF;
}
.totaltd
{
        color:#AAA;
}
.purchasePrice
{
        padding:8px;
        font-size:125%;
        color:#AAA;
}
.shopitemthumbbox
{
        margin-top:8px;
        display:flex; flex-direction:row;
        justify-content:center;
        align-items:center;
        gap:12px;
}
.shopitemthumb
{
        max-width:100%;
        border:1px solid rgba(200, 200, 200, 0.5);
}
.shopitemgrid
{
        display:flex;
        justify-content:center;
}
@media (max-width: 800px) {
        .shopitemimagebox
        {
                width:calc(40% - 48px);
                padding:12px;
        }
        .shopitemdata
        {
                width:calc(60% - 48px);
                padding:12px;
        }
}
@media (max-width: 640px) {
        .shopitemimagebox
        {
                width:calc(100% - 48px);
                padding:24px;
        }
        .shopitemdata
        {
                width:calc(100% - 48px);
                padding:24px;
        }
        .shopitemcontainer
        {
                flex-direction:column;
        }
}