@font-face {
        font-family: 'jura';
        src: url('fonts/jura.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
}
@font-face {
        font-family: 'komika';
        src: url('fonts/kmkdsp__-webfont.woff2') format('woff2'),
             url('fonts/kmkdsp__-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
body {
        margin:0;
        background-color : #111;
        color:#999;
        font-family : "jura";
}
.bg
{
        position:fixed;
        width:100%;
        height:100%;
        z-index:-1;
        background-image:url('../images/checker.png');
        animation: scrollUp 10s linear infinite; /* Adjust duration and timing */
}
@keyframes scrollUp {
        from {
            background-position-y: 0;
        }
        to {
            background-position-y: -101px; /* Moves up by 101 pixels */
        }
    }
.donationlink
{
        font-size:150%;
        text-decoration:none;
}
a:link{
        color:rgb(177, 179, 90);
}
a:visited{
        color:rgb(177, 179, 90);
}
a:hover{
        color:#FAC;
}
.phead
{
        
        font-family: "komika";
}
.pindent
{
        margin:8px;
}
.headerContainer
{
        padding-top:12px;
        display: flex;           /* Enable flexbox */
        align-items: center;      /* Align items vertically at the center */
        justify-content: flex-start; /* Ensure header stays aligned to the left */
}
.killhead
{
        margin-right:12px;
}
.footer
{
        margin-top:24px;
        text-align:center;
        font-size:80%;
}
.buttonContainer
{
        display: flex;          
        gap: 16px;
}
.button
{
        user-select: none;
        font-family: "komika";
        font-size:20px;
        cursor:pointer;
}
.button:hover
{
        color:#F00;
}
.container
{
        margin:0 auto;
        max-width:1024px;
}
p{
        line-height:1.25;
}
.content
{
        display:none;
        margin-top:24px;
}
.audiocontainer
{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        gap:12px;
}
.hueloop {
        filter: hue-rotate(0deg);
        animation: hueLoop 5s linear infinite;
}
      
      /* Define the hue rotation animation */
      @keyframes hueLoop {
        0% {
          filter: hue-rotate(0deg);
        }
        100% {
          filter: hue-rotate(360deg);
        }
}
.patronShine
{
        color:#FAC;
        filter: hue-rotate(0deg);
        animation: hueLoop 5s linear infinite;
}
.donationsPanel
{
        display:flex;
        align-items:flex-start;
        justify-content:center;
        gap:12px;
}
.donationBox
{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        gap:12px;
        margin:12px;
        border-radius:4px;
        padding:12px;
}
@media (max-width: 500px) {
        .buttonContainer
        {
                display: flex;
                gap:0px;
                flex-direction: column;
        }
}
@media (max-width: 340px) {
        .donationsPanel
        {
                flex-direction: column;
        }
}